body{
    overflow-x: hidden;
}

*{
    margin: 0;
    padding: 0;
}

/*--MENU--*/
.navbar{
    padding:22px 0px;
    /* background-color: rgb(61, 99, 132) ! important; */
    border-bottom:none ! important;
}


.navbar ul li a{
    color:rgb(255, 255, 255) ! important;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
}

.navbar ul li a:hover .navbar ul li a:focus{
    color:#a3e3e1!important;
    transition: all 0.5s ease-in;
}

.navbar-toggle{
    border:1px solid white !important;
}

.navbar-toggle:hover{
    background-color: #d6c3a2 !important;
    transition: all 0.5s ease-in;
}

.navbar-inverse .navbar-collapse{
    border-color: transparent !important;
}

.navbar-inverse{
    background-color: transparent !important;
}


.location{
    border:1px solid white;
    border-radius: 55px;

}
/*--MENU-end--*/

/*--Slider--*/

.slider{
    width:100%;
    height: 650px;
    background-image: url(../images/background2.jpg);
    background-size: cover;
    background-position: center;
    
}

.slider-overlay{
    width:100%;
    height:100%;
    background: rgb(0,0,0,0.40);
    position:relative;
}

.icons .fa{
    font-size: 30px;
    color:rgb(215, 213, 213);
    margin-right:2%;
}

.slider-contant{
    position:absolute;
    top:40%;
    width:100%;
}

.button1{
    padding:10px 18px;
    background-color: transparent;
    color:rgb(215, 213, 213);
    font-size:16px;
    text-transform: capitalize;
    letter-spacing: 2px;
    border:2px solid rgb(215, 213, 213);
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    transition: all 0.5s ease-in;
}

.button2{
    padding:10px 18px;
    background-color: transparent;
    color:rgb(215, 213, 213);
    font-size:16px;
    text-transform: capitalize;
    letter-spacing: 2px;
    border:2px solid rgb(215, 213, 213);
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    transition: all 0.5s ease-in;
}

.button1:hover{
    text-decoration: none;
    color:rgb(215, 213, 213);
    /* background-color:rgb(124, 140, 152) ; */
    background-color:rgba(174,180,151,255);
}

.button2:hover{
    text-decoration: none;
    color:rgb(215, 213, 213);
    background-color:rgba(174,180,151,255);
}

.social-networks a.fa{
    border:1px solid rgb(215, 213, 213);
    padding:8px;
    border-radius: 30px;
    color: rgb(215, 213, 213);
    width: 35px;
    height: 35px;
    margin-right: 3px;
    text-decoration: none;
    transition: all 0.8s ease-in;

}

.social-networks a.fa:hover{
    background-color:rgba(174,180,151,255);
    border:1px solid rgb(215, 213, 213);

}

.slider .text, .slider .typed-cursor{
    display:inline;
    font-size:50px;

}

/*--Slider-end--*/

/*--Services--*/
.services-area{
    margin-top: 4%;

}
.service-wrap{
    box-shadow:0 0 10px rgba(0,0,0.2);
    overflow:hidden;
    padding:25px 35px;
    position: relative;
    transition: all 0.5s ease-in;
    z-index:9;
    margin-top: 20px;
}

.section-title i.fa{
    color:rgba(174,180,151,255) ! important;
    padding-left:10px;
}

.service-wrap::before, .service-wrap::after{
    content:"";
    height:300%;
    width:120%;
    z-index:-9;
    transition: all 0.7s;
    opacity:1;
    background:rgba(174,180,151,255) ;
    position: absolute;
    transform: rotate(35deg);
}

.service-wrap::before{
    top:-37px;
    left:100%;
}

.service-wrap:hover:before{
    left:-27px;
    opacity:1;
}

.service-wrap::after{
    right:100%;
    bottom:-37px;
}

.service-wrap:hover:after{
    right:-27px;
    opacity:1;
}


.service-wrap:hover{
  color:white;
}

.service-wrap:hover h3{
    color:white;
}

.service-icons i.fa{
    font-size: 30px;
    margin-bottom: 20px;
    transition: all 0.5s;
}

.service-wrap:hover .service-icons i{
    transform: rotate(360deg);
    
}

.service-wrap h3{
    font-size:30px;
    font-weight: 700;
    padding-bottom: 15px;
    position: relative;

}

.service-wrap p{
    font-size:15px;
    margin-bottom:0;

}





/*--Services-end--*/

/* work styles */
.row.no-gutters [class*=col-]{
    padding-left: 0;
    padding-right: 0;
}

.img-wrapper{
    overflow: hidden;
}
.img-wrapper img{
    transition: transform 0.5s ease;
    width: 100%;
}

.img-wrapper img:hover{
    transform: scale(1.5);
    cursor: zoom-in;
}
/* work styles end */

/*Team styles*/
.team-member{
    margin-top: 50px;
}
.team-member{
    margin: 0 15px;   
}

.team-member-info{
    padding: 10px 0 30px 0;
}

h4.team-member-name{
    font-size: 19px;
    font-weight: 700;
    letter-spacing: 1px;
    padding-top: 2px;
}

h4.team-member-desgination{
    color: turquoise;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 5px;
    text-transform: capitalize;
}

.social-list{
    padding-left: 0;
}
.social-list li{
    list-style: none;
    display: inline-block;
}
.social-list i{
    font-size: 17px;
}
.icon-gray{
    color: rgb(113, 113, 113) ;
}
/*Team styles ends*/

/*Testimonials style*/
.carousel-inner img{
    width: 150px;
    height: 80px;
    border-radius: 100%;
    border: 3px solid white;
    padding: 5px;
}
.testimonials{
    background-image: url(../images/rev3.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
    padding-top: 80px;
    padding-bottom: 155px;
    
}

.testimonials .carousel-indicators{
    bottom: -60px;
}

.border-bottom{
    width: 40px;
    height: 2px;
    background-color: white;
    margin: 0 auto;
}

.carousel-inner p{
    font-size: 17px;
    font-weight: normal;
    letter-spacing: 1px;
    margin-top: 30px;
}
/*Testimonials end*/


/*---FAQ--*/
.questions{
    margin-top: 15px;
    margin-bottom: 15px;
}

#faq .panel{
    box-shadow:none;
    border-radius:10px;
    border: none;
    margin-bottom: 15px;
    margin-top:25px;
}

#faq .panel-heading{
    padding:0;
    border:none;
    border-radius:10px;
}

#faq .panel-title a{
    display:block;
    padding:25px 35px;
    font-size:20px;
    font-weight: 600;
    color:white;
    background:rgba(174,180,151,255);
    background-image: linear-gradient(rgba(174,180,151,255), rgb(191, 191, 172),rgb(241, 241, 230));
    border: none;
    position: relative;
    transition: all 0.4s ease 0s;
}

#faq .panel-title a:after,
#faq .panel-title a.collapsed:after{
    content:"\f068";
    font-family: fontawesome;
    height: 40px;
    width: 40px;
    line-height: 32px;
    border-radius:50px;
    background-color: rgba(174,180,151,255);
    text-align: center;
    font-size:15px;
    color:white;
    border:5px solid white;
    position:absolute;
    top:10px;
    left:-20px;
    transition: all 0.4s ease 0s;
}

#faq .panel-title a.collapsed:after{
    content:"\f067";
}

#faq .panel-title a:hover:after,
#faq .panel-title a.collapsed:hover:after
{
    transform: rotate(360deg);
}

.col-md-12 h2{
    color:rgba(174,180,151,255);
}

#faq .panel-body{
    padding:15px 25px;
    background-color: rgb(244, 247, 249);
    font-size: 15px;
    color:rgba(174,180,151,255);
    line-height: 25px;
    border-top: none;
    position:relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.panel-heading a{
    text-decoration: none !important;
    font-size:15px !important;
}

.videofaq video{
    border-radius:10px;
    margin-top: 10px; 
    width:250px;
}
/*---FAQ-end--*/

/* ---Video part--*/

/* .video-area{
    background: url(../images/office-photo.jpg);
    padding-top: 180px;
    padding-bottom: 480px;
    background-size: cover;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    -ms-background-size:cover;
    overflow:hidden;
    margin-top:40px;
    background-attachment: fixed;
}

.play{
    background:#ffff url(../images/play-button.png) no-repeat 60% 50%;
    width: 400px;
    height: auto;
    border-radius:50px;
    display:inline-block;
    margin-top: 70px;
    margin-bottom: 50px;
    box-shadow: 0px 0px 0px 20px rgba(174,180,151,255);
} */
/*---Video-end-- */

/* ---Blog part--*/
.new-img img{
    width: 250px;
    margin-left:50px;
}

.latest-new-area{
    margin-top:40px;
}

.latest-news-wrap{
    box-shadow:0px 3px 10px rgba(0,0,0,.1);
}

.new-img:before{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background: #0000;
    content:"";
    opacity:0 ;
    transform: scale(.8);
    transition: all 0.5s;
}

.latest-new-area:hover .new-img:before{
    opacity:.5;
    transform: scale(.1);

}

.date{
    background: rgba(174,180,151,255);
    height: 60px;
    width:70px;
    padding:10px;
    left:0;
    position: absolute;
    text-align:center;
    top:0;
    box-shadow:#24495e;
}


.date span{
    display: block;
    color:white;
    font-size:12px;
    font-weight: 900px;
}

.new-content{
    padding:20px;
    margin-left:4px;

}

.new-content .i{
    font-size:16px;
    display: inline-block;
}

.new-content .fa{
    padding: 5px;
    cursor: pointer;
    margin-left:19px;
}

.new-content .fa-facebook{
    color:rgb(67, 67, 220);
}

.new-content .fa-twitter{
    color:rgb(70, 148, 236);
}

.new-content .fa-linkedin{
    color:rgb(86, 131, 182);
}

.new-content .fa-youtube{
    color:rgb(200, 68, 56);
}

.new-content .fa-whatsapp{
    color:rgb(58, 245, 64);
}

.new-content p{
    margin-bottom: 15px;
    margin-top: 15px;
    text-align: center;
}
.new-content a{
    font-size:12px;
    background-color:rgba(174,180,151,255);
    color:white;
    padding:15px;
    transition: all 0.5s ease-in;
}

.new-content a:hover{
    font-size:14px;
    border:1px solid #34125e;
    color:#34125e;
    border-top-right-radius: 20px;
    background-color: transparent;
    text-decoration: none;
    margin-right: 0;
}




/* ---Blog end--*/

/*Contact Area*/

.contact-area{
    margin-top: 60px;
}
.form-control{
    border-radius: 0px !important;
    border: 1px solid rgb(3, 4, 4) !important;
}

.contact-form button.btn{
    font-size: 1.8rem;
    font-weight: 700;
    padding: 12px 43px;
    border: 1px solid black;
    border-radius: 0px;
}

.border-bottom{
    width: 40px;
    height: 2px;
    background-color: black;
}
.contact-infos{
    float: left;
    width: 100%;
    margin-top: 90px;
    margin-bottom: -30px;
    background-color: rgb(119, 188, 154);
    padding-top: 35px;
    padding-bottom: 35px;   
}

.contact-infos .fa{
    color: white;
    font-size: 26px;
    border: 1px solid white;
    width: 50px;
    border-radius: 50%;
    line-height: 50px ;
}

.contact-infos p{
    color: white;
    margin-top: 15px;
}
/*Contact Area Ends*/

/*Map*/
.maps{
    margin-top: 20px;
}
/*Map Ends*/

/*Footer*/
.footer{
    background: url(../images/CSS-footer-bg.jpg);
    background-size: cover;
    -webkit-background-size: cover ;
    -moz-background-size: cover;
    padding-top: 145px;
    padding-bottom: 120px;
    background-attachment: fixed;
    color: white;
}

.social-icon a{
    margin: 0 16px 20px 16px;
    display: inline-block;
}

.footer .fa{
    font-size: 30px;
    color: aqua;
    width: 80px;
    height: 80px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background: white;
    line-height: 2;
    border: 10px solid #24495e;
    text-align: center;
    transition: all 0.7s ease-in;
}

.social-icon a:hover .fa{
    border: 10px solid white;
    transform: rotate(360deg);
}

.bordernow{
    width: 40px;
    border-bottom: 2px solid white;
    margin: 0 auto;
    margin-top: 20px;
}
/*Footer ends*/